div {
	padding: 10px;
}

h1, h2 {
	font-family: Helvetica, sans-serif;
}

.general-section, {
	width: 100%;
	text-align: center;
}

.block1, .block2 {
	text-align: center;
	display: inline-block;
}

.round-button {
	width: 5em;
	height:5em;
    border-radius: 50%;
    overflow:hidden;
    margin: auto;
    vertical-align: middle;
    background: #050505; 
    box-shadow: 0 0 3px gray;
    display:block;
}

.round-button p {
	height: 100%;
	width: 100%;
	text-align:center;
	color:#4679BD;
    font-family: Helvetica, sans-serif;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
    vertical-align: middle;
}

.round-button:hover {
	background:#282828;
}

.footer-catch{
	padding: 30px;
}

.header, .footer {
	text-align: center;
	background-color: #050505;
	width: 100%;
	position: fixed;
	left: 0;
}

.header {
	top: 0;
}

.footer {
	bottom: 0;
}